.workshopDiv .outline {
	display: flex;
	flex-direction: column;
	padding: 100px 10vw;
	min-height: 80vh;
}

.workshopDiv::-webkit-scrollbar {
	width: 12px !important;
}

.workshopDiv::-webkit-scrollbar-track {
	background: var(--secondary);
}

.workshopDiv::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border-radius: 20px;
	border: 3px solid var(--secondary);
}

.workshopDiv .outline h2 {
	font-size: 6vw;
	font-weight: 600;
	color: var(--secondary);
}

.workshopDiv .timeline {
	display: flex;
	justify-content: space-between;
	margin: 40px 30px 20px 0;
	transition: 0.6s all ease-in;
}

.workshopDiv .timeline .left {
	margin-right: 40px;
	font-size: 1.6vw;
	font-weight: 400;
	color: var(--secondary);
}

.workshopDiv .timeline .right {
	width: 100%;
	font-size: 1.6vw;
	font-weight: 200;
	color: var(--secondary);
	text-align: left;
}

@media (max-width: 786px) {
	.workshopDiv .timeline .left {
		font-size: 3vw;
	}

	.workshopDiv .timeline .right {
		font-size: 3vw;
		font-weight: 300;
	}
}

.workshopDiv .outline .timeline:nth-child(2n + 1) .right {
	color: var(--bg);
}
