:root {
	--secondary: #ffa400ff;
	--carolina-blue: #009ffdff;
	--primary: #2a2a72ff;
	--raisin-black: #232528ff;
	--bg: #eaf6ffff;
}

.topnav {
	overflow: hidden;
	background-color: transparent;
	transition: 0.4s;
	width: 75%;
}

.logo {
	color: var(--secondary);
	text-align: center;
	margin: 0 2rem;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	transition: 0.4s;
	z-index: 1;
}

.topnav a {
	float: right;
	/* display: block; */
	color: #081c52;
	text-align: center;
	margin: 0 2rem;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	transition: 0.4s;
}

.topnav a.active {
	background-color: #04aa6d;
	color: white;
}

.topnav a:hover {
	text-decoration: underline;
	transition: 0.4s linear ease-out;
	cursor: pointer;
}
.icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.topnav a {
		display: none;
	}
	a.icon {
		float: right;
		display: block;
		padding: 5px 5px 0 0;
	}
}

@media screen and (max-width: 768px) {
	.topnav a {
		float: left;
	}
	.topnav.responsive {
		position: relative;
	}
	.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
